@use '../abstracts/mixins' as *;

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(small) {
    font-size: 55%;
  }
}

body {
  width: 100%;
  font-size: 1.8rem;
}

@media screen and (min-width: 1600px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background: #f7f7f7;
  }
}
