@use "../abstracts/variables" as *;

.main-heading,
.secondary-heading {
  font-family: $font-fraunces;
}

.main-heading {
  font-size: clamp(3.2rem, 3.8vw, 5rem);
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.secondary-heading {
  width: 16ch;
  font-size: clamp(2.5rem, 2.5vw, 3.8rem);
  font-weight: 600;
}
