@use "../abstracts/variables" as *;

.learn-more-btn {
  color: $black;
  font-family: $font-fraunces;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  width: max-content;
}

.learn-more-btn--yellow::before {
  content: "";
  width: 105%;
  height: 5px;
  border-bottom: 8px solid lighten($color: $yellow, $amount: 25%);
  border-radius: 5px;

  position: absolute;
  left: -0.3rem;
  bottom: 0;
  z-index: -1;
}
