@use "../abstracts/variables" as *;

.footer {
  background-color: $dark-moderate-cyan;
  background-color: lighten($color: $dark-desaturated-cyan, $amount: 48%);

  padding: 8rem 0 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo svg path {
    fill: #2e7565;
  }

  .nav__link svg path {
    fill: #317767;
  }
}
