@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@use '../base/animation' as *;

.header {
  width: 100%;
  min-height: 100vh;
  background: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 2.5rem 3rem 0;
  position: relative;

  &__text {
    position: absolute;
    top: 28vh;
    left: 50%;
    transform: translateX(-50%);

    @include flex-items-center;
    flex-direction: column;

    .arrow-down {
      margin-top: 8.5vh;
      animation: bounce 1s;
    }
  }
}
