@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section {
  width: 100%;
  position: relative;
  background: $light-white;

  z-index: 1;
  display: flex;

  &__texts {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    width: 45ch;
    margin: 3rem 0;
    font-family: $font-barlow;
    color: $dark-grayish-blue;
    line-height: 1.8;
  }

  &--1 &__texts {
    padding: 0 10rem 0 15rem;
  }

  &--2 &__texts {
    padding: 0 15rem 0 10rem;
  }

  &--3 {
    .secondary-heading {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
    }

    p {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
      width: 40ch;
      text-align: center;
      font-family: $font-barlow;
      font-weight: 600;
    }
  }

  &__img {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    &-left,
    &-right {
      .secondary-heading {
        font-size: clamp(2.5rem, 1.6vw, 3.8rem);
      }
    }

    &-left {
      .secondary-heading {
        color: $dark-desaturated-cyan;
      }

      p {
        color: lighten($color: $dark-desaturated-cyan, $amount: 10%);
      }
    }

    &-right {
      .secondary-heading {
        color: $dark-blue;
      }

      p {
        color: lighten($color: $dark-blue, $amount: 10%);
      }
    }
  }

  &-4 {
    width: 100%;
    background: $light-white;
    padding: 12rem 0;

    h2 {
      width: 100%;
      font-family: $font-fraunces;
      font-size: clamp(1.8rem, 2rem, 2.5rem);
      text-align: center;
      color: $grayish-blue;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .row {
      width: 80%;
      margin: 8rem auto 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .col {
        flex-basis: 28%;
      }
    }
  }
}
