@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.section {
  width: 100%;

  background-color: #fff;
  z-index: -2;
  display: flex;

  &__texts {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--1 &__texts {
    padding: 0 10rem 0 15rem;
  }

  &--2 &__texts {
    padding: 0 15rem 0 10rem;
  }

  &__img {
    flex: 1;

    img {
      width: 100%;
      display: block;
    }
  }

  &__text {
    width: 45ch;
    margin: 3rem 0;
    font-family: $font-barlow;
    color: $dark-grayish-blue;
    line-height: 1.8;
  }
}
