/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.8rem;
}

@media screen and (min-width: 1600px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background: #f7f7f7;
  }
}
.main-heading,
.secondary-heading {
  font-family: "Fraunces", serif;
}

.main-heading {
  font-size: clamp(3.2rem, 3.8vw, 5rem);
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.secondary-heading {
  width: 16ch;
  font-size: clamp(2.5rem, 2.5vw, 3.8rem);
  font-weight: 600;
}

.learn-more-btn {
  color: black;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

.learn-more-btn::before {
  content: "";
  width: 105%;
  border-radius: 5px;
  position: absolute;
  left: -0.3rem;
  bottom: 0;
  z-index: -1;
  border-bottom: 8px solid;
}

.learn-more-btn--yellow::before {
  border-color: #fff3ad;
}

.learn-more-btn--soft-red::before {
  border-color: #ffd2cc;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col .client-img {
  width: 6rem;
  height: 6rem;
}
.col .client-img img {
  border-radius: 50%;
}
.col .client-review {
  margin: 3.5rem 0;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  color: #818498;
  color: #5a636c;
}
.col .client-about {
  text-align: center;
}
.col .client-about h3 {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  margin: 0.8rem 0;
}
.col .client-about p {
  font-family: "Barlow", sans-serif;
  color: #818498;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.2s;
}
.navbar__brand:focus {
  outline: none;
  background: #70cfff;
}
.navbar__nav {
  display: flex;
}
.navbar__nav .nav__item:not(:last-child) {
  margin-right: 4.8rem;
}
.navbar__nav .nav__item .nav__link {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  font-family: "Barlow", sans-serif;
  color: white;
  color: #fff;
  transition: all 0.2s;
}
.navbar__nav .nav__item .nav__link.active {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  background: white;
  color: black;
  text-transform: uppercase;
}
.navbar__nav .nav__item .nav__link:hover, .navbar__nav .nav__item .nav__link:focus {
  background: #70cfff;
  color: white;
  outline: none;
}

.footer .navbar__nav--footer {
  margin: 4rem 0 8rem;
}
.footer .navbar__nav--footer .nav__link {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  color: #458c7e;
}
.footer .navbar__nav--footer .nav__link:hover, .footer .navbar__nav--footer .nav__link:focus {
  background: none;
  color: white;
}
.footer .navbar__nav .nav__item:not(:last-child) {
  margin-right: 0;
}
.footer .navbar__nav .nav__link:hover, .footer .navbar__nav .nav__link:focus {
  background: none;
}
.footer .navbar__nav .nav__link:hover svg path, .footer .navbar__nav .nav__link:focus svg path {
  fill: white;
  transition: all 0.3s;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-30px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-15px);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
  }
  90% {
    transform: translateY(-4px);
  }
}

@keyframes bounce {
  from, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-30px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translateY(-15px);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
  }
  90% {
    transform: translateY(-4px);
  }
}
.header {
  width: 100%;
  min-height: 100vh;
  background: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.5rem 3rem 0;
  position: relative;
}
.header__text {
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .header__text {
    top: 25vh;
    text-align: center;
  }
}
.header__text .arrow-down {
  margin-top: 8.5vh;
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
@media screen and (max-width: 1200px) {
  .header__text .arrow-down {
    margin-top: 5vh;
  }
}

.section {
  width: 100%;
  position: relative;
  background: #fffcfa;
  z-index: 1;
  display: flex;
}
.section__texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__text {
  width: 45ch;
  margin: 3rem 0;
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.8;
}
.section--1 .section__texts {
  padding: 0 10rem 0 15rem;
}
@media screen and (max-width: 1024px) {
  .section--1 .section__texts {
    padding-left: 5rem;
  }
}
.section--2 .section__texts {
  padding: 0 15rem 0 10rem;
}
@media screen and (max-width: 1024px) {
  .section--2 .section__texts {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
.section--3 .secondary-heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.section--3 p {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 40ch;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.section__img {
  flex: 1;
  position: relative;
}
.section__img img {
  width: 100%;
  display: block;
}
.section__img-left .secondary-heading, .section__img-right .secondary-heading {
  font-size: clamp(2.5rem, 1.6vw, 3.8rem);
}
.section__img-left .secondary-heading {
  color: #25564b;
}
.section__img-left p {
  color: #34796a;
}
.section__img-right .secondary-heading {
  color: #19536b;
}
.section__img-right p {
  color: #237395;
}
.section-4 {
  width: 100%;
  background: #fffcfa;
  padding: 12rem 0;
}
.section-4 h2 {
  width: 100%;
  font-family: "Fraunces", serif;
  font-size: clamp(1.8rem, 2rem, 2.5rem);
  text-align: center;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.section-4 .row {
  width: 80%;
  margin: 8rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4 .row .col {
  flex-basis: 28%;
}
.section-5 .gallery-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-5 .gallery-wrapper > div {
  width: 25%;
}

.footer {
  background-color: #458c7e;
  background-color: #9bd4c8;
  padding: 8rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer-logo svg path {
  fill: #2e7565;
}
.footer .nav__link svg path {
  fill: #317767;
}
.footer .attribution {
  position: absolute;
  bottom: 0.5rem;
}/*# sourceMappingURL=main.css.map */